
#start{
    font-size: 2vw;
    padding: 10px;
 border-radius: 10px;
 width: 100px;
 max-width: 100px;
 margin: 3px;
}
#stop{
    font-size: 2vw;
    width: 100px;
    max-width: 100px;
    padding: 10px;
    border-radius: 10px;
    margin: 3px;
}
#reset{
    font-size: 2vw;
    width: 100px;
    max-width: 100px;
    padding: 10px;
    border-radius: 10px;
    margin: 3px;
}
body{
    text-align: center;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/832/718/324/watch-desk-stopwatch-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: 100% 200%;
    
}
 h2{
    font-size: 5vw;
    color: aliceblue;
    background-color: black;
    max-width: 150px;
    border-radius: 10px;
}
.inline{
    display: inline-block;
    width: 160px;
}
.stopwatch{
    margin: 100px auto;
}
